MONGO_URL=mongodb://mongo:27017/?replicaSet=rs0&retryWrites=true&w=majority
MONGO_DB_NAME=university_api
MONGO_SERVER_SELECTION_TIMEOUT_MS=5000
CASTLEMOCK_BASE_URL=http://castlemock:8080/castlemock/mock/rest/project/QXcx23/application
CASTLEMOCK_HEALTH_PATH=hE4lTh/health
CASTLEMOCK_TIMEOUT_SECONDS=3
LIST_DEFAULT_LIMIT=100
LIST_MAX_LIMIT=500
